<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:gap = "http://phonegap.com/ns/1.0"
  id = "com.appendio.cipreporting"
  version = "10.3.33"
  ios-CFBundleVersion="10.3.33.0">

  <!-- NOTE ON APP VERSION ABOVE: The iOS app store may accept the file and then reject for other reasons in which case you
       must submit the SAME version with a different build ID.  So we added ios-CFBundleVersion which we control manually
       to create unique build IDs in the eyes of Apple.  I would recommend keeping it at 0 until needed to increment and then
       likely returning it to 0 after each successful release if it were actually changed.  It is probably harmless to leave
       at any value. -->

  <name>CIP Reporting</name>

  <description>CIP Reporting Mobile Application</description>

  <author href="http://www.cipreporting.com" email="support@cipreporting.com">CIP Reporting</author>
  
  <!-- Allow Ajax Requests to anywhere -->
  <access origin="*" />
  <allow-intent href="*" />
  <allow-navigation href="*" />
  
  <!-- Configure the Application -->
  <preference name="phonegap-version"           value="cli-8.1.1" />      <!-- all: current version of PhoneGap -->
  <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
  <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
  <preference name="fullscreen"                 value="false" />          <!-- all: hides the status bar at the top of the screen -->
  <preference name="stay-in-webview"            value="false" />          <!-- all: external links should open in the default browser, 'true' would use the webview the app lives in -->
  <preference name="detect-data-types"          value="true" />           <!-- all: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
  <preference name="exit-on-suspend"            value="false" />          <!-- all: if set to true, app will terminate when home button is pressed -->

  <preference name="webviewbounce"              value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
  <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
  <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->

  <preference name="android-minSdkVersion"      value="19" />             <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
  <preference name="android-targetSdkVersion"   value="29" />             <!-- android: Target SDK version supported on the target device. -->
  <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
  <preference name="android-build-tool"         value="gradle" />         <!-- android: apparently required to build the barcode scanner plugin -->

  <preference name="AutoHideSplashScreen"       value="false" />          <!-- all: if set to false, the splash screen must be hidden using a JavaScript API -->
  <preference name="SplashScreenDelay"          value="30000" />          <!-- all: control how long the splash screen is displayed -->
  <preference name="ShowSplashScreenSpinner"    value="false" />          <!-- all: if set to false, the spinner won't appear on the splash screen during app loading -->
  <preference name="SplashMaintainAspectRatio"  value="true" />           <!-- android: Do not stretch splash screen images -->
  
  <!-- Specify a custom user agent most notably to not output www-authenticate header to iOS under phonegap -->
  <preference name="AppendUserAgent"            value="CIPGAP/CIP Reporting/10.3.33" />
  
  <!-- Build system defaults to asking for all permissions - turn that off and opt in as needed. -->
  <preference name="permissions" value="none"/>  
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/notification"/>
  <feature name="http://api.phonegap.com/1.0/device"/>
  
  <!-- Plugins -->
  <plugin name="cordova-plugin-camera"              source="npm" />
  <plugin name="cordova-plugin-device"              source="npm" />
  <plugin name="cordova-plugin-file"                source="npm" />
  <plugin name="cordova-plugin-geolocation"         source="npm" />
  <plugin name="cordova-plugin-splashscreen"        source="npm" />
  <plugin name="cordova-plugin-vibration"           source="npm" />
  <plugin name="cordova-plugin-inappbrowser"        source="npm" />
  <plugin name="cordova-plugin-whitelist"           source="npm" />
  <plugin name="phonegap-plugin-barcodescanner"     source="npm" />
  <plugin name="cordova-plugin-statusbar"           source="npm" />
  <plugin name="cordova-plugin-sqlite-2"            source="npm" />
  <plugin name="cordova-plugin-network-information" source="npm" />
  <plugin name="cordova-plugin-media-capture"       source="npm" />

  <!-- Required Permission Descriptions on iOS -->
  <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
    <string>To scan barcodes and take photographs for submissions</string>
  </edit-config>
  <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
    <string>To attach photos form your image library for submissions</string>
  </edit-config>
  <edit-config target="NSLocationAlwaysUsageDescription" file="*-Info.plist" mode="merge">
    <string>To record location information with submissions</string>
  </edit-config>
  <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
    <string>To record location information with submissions</string>
  </edit-config>

  <plugin name="cordova-plugin-customurlscheme" source="npm">
    <param name="URL_SCHEME" value="cipreporting" />
  </plugin>


  <gap:config-file platform="ios" parent="NSPhotoLibraryUsageDescription">
    <string>For uploading receipt images</string>
  </gap:config-file>

  <!-- Define platforms -->
  <platform name="android">
    <icon src="res/icon/android/icon-0036.png" density="ldpi" />
    <icon src="res/icon/android/icon-0048.png" density="mdpi" />
    <icon src="res/icon/android/icon-0072.png" density="hdpi" />
    <icon src="res/icon/android/icon-0096.png" density="xhdpi" />
    <icon src="res/icon/android/icon-0144.png" density="xxhdpi" />
    <icon src="res/icon/android/icon-0192.png" density="xxxhdpi" />
    
    <splash src="res/screen/android/splash-0200-0320.png" density="port-ldpi" />
    <splash src="res/screen/android/splash-0320-0480.png" density="port-mdpi" />
    <splash src="res/screen/android/splash-0480-0800.png" density="port-hdpi" />
    <splash src="res/screen/android/splash-0720-1280.png" density="port-xhdpi" />
    <splash src="res/screen/android/splash-0960-1600.png" density="port-xxhdpi" />
    <splash src="res/screen/android/splash-1280-1920.png" density="port-xxxhdpi" />
    <splash src="res/screen/android/splash-0320-0200.png" density="land-ldpi" />
    <splash src="res/screen/android/splash-0480-0320.png" density="land-mdpi" />
    <splash src="res/screen/android/splash-0800-0480.png" density="land-hdpi" />
    <splash src="res/screen/android/splash-1280-0720.png" density="land-xhdpi" />
    <splash src="res/screen/android/splash-1600-0960.png" density="land-xxhdpi" />
    <splash src="res/screen/android/splash-1920-1280.png" density="land-xxxhdpi" />

    <!-- Allow HTTP traffic on Android -->
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:usesCleartextTraffic="true" />
    </edit-config>
  </platform>

  <platform name="ios">
    <icon src="res/icon/ios/icon-0029.png" width="29"   height="29" />
    <icon src="res/icon/ios/icon-0040.png" width="40"   height="40" />
    <icon src="res/icon/ios/icon-0050.png" width="50"   height="50" />
    <icon src="res/icon/ios/icon-0057.png" width="57"   height="57" />
    <icon src="res/icon/ios/icon-0058.png" width="58"   height="58" />
    <icon src="res/icon/ios/icon-0060.png" width="60"   height="60" />
    <icon src="res/icon/ios/icon-0072.png" width="72"   height="72" />
    <icon src="res/icon/ios/icon-0076.png" width="76"   height="76" />
    <icon src="res/icon/ios/icon-0080.png" width="80"   height="80" />
    <icon src="res/icon/ios/icon-0087.png" width="87"   height="87" />
    <icon src="res/icon/ios/icon-0100.png" width="100"  height="100" />
    <icon src="res/icon/ios/icon-0114.png" width="114"  height="114" />
    <icon src="res/icon/ios/icon-0120.png" width="120"  height="120" />
    <icon src="res/icon/ios/icon-0144.png" width="144"  height="144" />
    <icon src="res/icon/ios/icon-0152.png" width="152"  height="152" />
    <icon src="res/icon/ios/icon-0167.png" width="167"  height="167" />
    <icon src="res/icon/ios/icon-0180.png" width="180"  height="180" />
    <icon src="res/icon/ios/icon-1024.png" width="1024" height="1024" />

    <!-- iPad -->
    <splash src="res/screen/ios/splash-0768-1024.png" width="768"  height="1024" />
    <splash src="res/screen/ios/splash-1024-0768.png" width="1024" height="768" />
    <splash src="res/screen/ios/splash-1536-2048.png" width="1536" height="2048" />
    <splash src="res/screen/ios/splash-2048-1536.png" width="2048" height="1536" />

    <!-- iPhone -->
    <splash src="res/screen/ios/splash-0320-0480.png" width="320"  height="480" />
    <splash src="res/screen/ios/splash-0480-0320.png" width="480"  height="320" />
    <splash src="res/screen/ios/splash-0640-0960.png" width="640"  height="960" />
    <splash src="res/screen/ios/splash-0960-0640.png" width="960"  height="640" />
    <splash src="res/screen/ios/splash-0640-1136.png" width="640"  height="1136" />
    <splash src="res/screen/ios/splash-1136-0640.png" width="1136" height="640" />
    <splash src="res/screen/ios/splash-0750-1334.png" width="750"  height="1334" />
    <splash src="res/screen/ios/splash-1334-0750.png" width="1334" height="750" />
    <splash src="res/screen/ios/splash-1242-2208.png" width="1242" height="2208" />
    <splash src="res/screen/ios/splash-2208-1242.png" width="2208" height="1242" />
  </platform>

  <!-- Enable debuggable target for Android - must be removed for a release build -->
  <!--
  <config-file platform="android" parent="/manifest">
    <application android:debuggable="true" />
  </config-file>
  -->
</widget>
